.manage-schedule-doctor-container{
    min-height: 100vh;
    .m-s-title{
        text-transform: uppercase;
        margin: 5px 0;
        font-size: 30px;
        text-align: center;
        
    }
    .pick-hour-container{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .btn-schedule{
            padding: 5px 15px;
            border: 1px solid gray;
            &.active{
                background-color: orange;
            }
        }
    }
    .btn-save-schedule{
        margin-top: 20px;

    }
}