.account-container{
    i{
        color: #1e67b0;
        cursor: pointer;
    }
    span {
        color: #8daac6;
    }
    .account-infor{
        
        .child{
            margin:auto;
            width: 350px;
            p{
                color: red;
                margin: 5px 0;
                font-size: 12px;
            }
        }
    }
    .change-password{
        .child{
            width: 260px;
            margin: auto;
            p{
                color: red;
                margin: 5px 0;
                font-size: 12px;
            }
        }
    }
    .content-input {
        // margin:  0 !important;
        // padding-right: 0 !important;
        .custom-input-password {
            position: relative;

            i {
                position: absolute;
                right: 5px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
}