.manage-doctor-container{
    padding: 5px;
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        .detail{
            width: 35%;
        }
        td,th {
            border: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            text-align: center;
            vertical-align: middle;
            background-color: #04AA6D;
            color: white;
        }
        td{
            padding: 6px 12px;
            vertical-align: middle;
        }
        button {
            padding: 0 12px;
            border: 1px solid gray;
            margin-right: 10px;
            border-radius: 8px;
            outline: none;
        }
    }
    .manage-doctor-title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        font-weight: 550;
        text-transform: uppercase;
    }
    .save-content-doctor{
        margin-top:20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: orange;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    .create-content-doctor{
        margin-top:20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: rgb(66, 32, 181);
        color: white;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
    .more-infor{
        display: flex;
        gap:30px;
        padding-bottom: 20px;
        .content-left{
            width: 33%;
        }
        .content-right{
            width: 67%;
        }
    }
}