.manage-booking-container{
    background-color: #ddd;
    min-height: 100vh;
    .content{
        width: 50%;
        margin: auto;
        padding-bottom: 20px;
        .child{
            margin-top : 15px;
            padding: 5px 8px;
            border-radius: 10px;
            background-color: aliceblue;
        }
    }
}