/* styles.css */
form {
    margin-top: 10px;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .text-reply{
    color: rgb(0, 123, 255);
    cursor: pointer;
  }
  button {
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  