.section-share {
    min-height: 200px;
    &.section-specialty {
        background: #f5f5f5;
    }
    &.section-handbook {
        font-size: 12px;
    }
    &.section-specialty {
        .section-customize {
            padding: 5px;
            cursor: pointer;
    
            .clinic-name {
                padding: 10px 0;
    
                &:hover {
                    color: rgb(160, 165, 60);
                }
            }
        }
    }
    &.section-outstanding-doctor {
        background: #f5f5f5;
        
    
        .section-customize {
            padding: 5px;
            cursor: pointer;
            .customize-border {
                border: 1px solid orange;
                padding: 20px;
                .outer-bg {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
            
                }
            }
        }
        p {
            margin-bottom: 5px !important;
        }
    }
    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
        .section-body {
            font-size: 14px;
    
            .section-customize {
                padding: 5px;
                cursor: pointer;
    
                .section-name {
                    padding: 10px 0;
    
                    &:hover {
                        color: rgb(160, 165, 60);
                    }
                }
    
                .bg-image {
    
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    width: 100%;
                    padding-top: 56.25%;
                    &.section-outstanding-doctor {
                        width: 40%;
                        padding-top: 40%;
                        border-radius: 50%;
                        background-size: cover;
                        background-position: center;
    
                    }
                }
            }
    
    
        }


    }
    
}
.slick-prev {
    // left: -10px !important;
    z-index: 1000 !important;
    // height: 40px !important;
    // width: 36px !important;
    background: #fff !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before,
.slick-next:before {
    color: rgb(93, 52, 52) !important;
}

.slick-disabled {
    //xoá nút slider
    display: none !important;
}

.slick-next {
    // right: -10px !important;
    z-index: 1000 !important;
    // height: 40px !important;
    // width: 36px !important;
    background: #c8c9c8de !important;

    &:hover {
        background: #eceaea !important;
    }
}


// .section-about {
//     padding: 0 100px;
//     .section-about-header {
//         padding: 20px 10px;
//         font-size: 22px;
//         font-weight: 600;
//     }
//     .section-about-content {
//         display: flex;
//         gap: 15px;

//         .content-left {
//             width: 60%;
//         }
//         .content-right {
//             width: 40%;
//             p {
//                 text-align: center;
//                 font-style: italic;
//                 padding-top: 15px;
//             }
//         }
//     }
// }
.section-about {
    padding: 0 100px;
    margin-bottom: 20px;
    .section-about-content {
        display: flex;
        gap: 20px; // Khoảng cách giữa các phần tử

        .content-left {
            width: 60%; // Chiếm 60% chiều rộng
            position: relative; // Để điều chỉnh chiều cao theo tỷ lệ 16:9
            padding-top: 33.75%; // Tạo tỷ lệ 16:9 dựa trên chiều rộng (9 / 16)

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .content-right {
            width: 40%; // Chiếm 40% chiều rộng còn lại
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }
        }
    }
}

.home-footer {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    background-color: rgb(146, 149, 168);

    a {
        text-decoration: unset;

    }

}